<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
  <title>{% block title %}{% endblock %}</title>
</head>

<body class="body">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item m-1">
        <a class="btn btn-primary" href="{% url 'main_page' %}" aria-current="page">All domains info</a>
      </li>
      <li class="nav-item m-1">
        <a class="btn btn-primary" href="{% url 'check_task' %}" aria-current="page">Task status</a>
      </li>
      <li class="nav-item m-1">
        <a class="btn btn-primary" href="{% url 'new_task' %}" aria-current="page">Create new task</a>
      </li>
    </ul>
  </header>
  <main role="main" class="container-fluid">
    {% block content %}{% endblock content %}
  </main>
  {% block js %}{% endblock js %}
</body>
</html>